<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="height:1500px">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Photos Gallery!!</a>
      </div>
      <ul class="nav navbar-nav">
        <li (click) = "filterBy='all'" ><a>All</a></li>
        <li (click) = "filterBy='chailtrip'" ><a>Chail Trip</a></li>
        <li (click) = "filterBy='classymates'" ><a>Classy mates</a></li>
        <li (click) = "filterBy='rangrezz'"><a>Rangrezz 2k17</a></li>
        <li (click) = "filterBy='morepics'"><a>More pictures!!</a></li>
      </ul>
    </div>
  </nav>
  <div class="container" style="margin-top:80px">
    <ul >
      <li *ngFor=" let images of ( visibleImages | imageFilter:filterBy) " >
          
         <img src="{{images.url}}" class = "tn" width="500" height="360">
     </li>
     </ul>
  </div>
  
</body>

</html>